{% extends 'base.html' %}
{% load i18n %} 
{% block title %}Members{% endblock %}
{% block section %}Members{% endblock %}

{% block content %}


{% trans "No se encontró a ningún socio." as no_members_message %}
{% trans "Buscar.." as search_msg %}

<form method='GET'>
  <div class="input-group">
    <input id="search-members" type="text" class="form-control" placeholder="{{ search_msg }}" name='q' value='{{ request.GET.q }}'>
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" type='submit'>
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>

<br>

  {% if members %} 
<div class="row">
  
  {% for member in members %}
  <div class="col-md-4">
    <a href="{% url 'cash:cash-user-account' member.id %}">
      <div class="card text-center" style="width: 14rem;">
        <img class="card-img-top" src="http://otca.info/gef/dist/images/no-image.png" alt="Card image cap">
        <div class="card-body">
          {% if member.first_name %} 
          <h5 class="card-title"> {{ member.first_name }} {{ member.last_name }}</h5>
          {% else %}
          <h5 class="card-title"> {{ member.username }}</h5>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
  {% else %}
      <p>{{ no_members_message }}</p>
  {% endif %}

</div>

<script>
  document.getElementById("search-members").focus();
</script>

{% endblock %}



