[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
django = "~=2.2.4"
django-tinymce = "*"
django-widget-tweaks = "*"
django-money = "*"
pytz = "*"
tzlocal = "*"
django-tz-detect = "*"
python-dotenv = "*"
dropbox = "*"

[requires]
python_version = "3.7"
