{% extends 'registration/base-login.html' %}

{% block title %}Forgot Your Password?{% endblock %}
{% block section %}Forgot Your Password?{% endblock %}


{% block content %}
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <div class="form-label-group">
        <input name="email" type="email" id="id_email" class="form-control" placeholder="email" required autofocus>
        <label for="id_email">Email</label>
      </div>
	</div>
    <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="Send me instructions!">
  </form>
	<hr class="my-4">
	<div class="text-center">
			<a class="d-block small" href="{% url 'login' %}">Login</a>
	</div>
{% endblock %}