
{% extends 'registration/base-login.html' %}
{% load i18n %}
{% block title %}Enter new password{% endblock %}
{% block section %}Set a new password!{% endblock %}


{% block content %}
  <p></p>


  {% if validlink %}
  <form method="post">
    {% csrf_token %}
  
    <div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
        <strong >Enter a new password below, following the next instructions:</strong>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="form-group">
        <div class="form-label-group">
          <input name="new_password1" type="password" id="id_new_password1" class="form-control" required autofocus>
          <label for="id_new_password1">New password</label>
        </div>
    </div>

    <div class="form-group">
      <div class="form-label-group">
        <input name="new_password2" type="password" id="id_new_password2" class="form-control" required autofocus>
        <label for="id_new_password2">New password confirmation</label>
      </div>
  </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="Change my password">
  </form>
  {% else %}
  
  <p>
  {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
  </p>
  {% endif %}

  <hr class="my-4">
  <div class="text-center">
      <a class="d-block small" href="{% url 'login' %}">Login</a>
  </div>
{% endblock %}