<div class="breadcrumb">
    {% for crumb in breadcrumbs %}
	    {% if not forloop.last %}
	    <li class="breadcrumb-item">
	        <a class="breadcrumb-item"> {{ crumb.0 }} </a>
	    </li>
	    {% else %}
	    <li class="breadcrumb-item active">
	        <a class="breadcrumb-item active">{{ crumb.0 }}</a>
	    </li>
		    {% if kwargs.slug %}
		    <li class="breadcrumb-item active">
		        <a class="breadcrumb-item active">{{ kwargs.slug }}</a>
		    </li>
		    {% endif %}
		{% endif %}
    {% endfor %}
</div>
