{% extends 'base.html' %}

{% block title %}Blog{% endblock %}
{% block section %}Post{% endblock %}

{% block content %}

<div class="col-md-4">
	<div class="post post-sm">
	<div class="post-body">
		<h1 class=""><a href="{{ entry.get_absolute_url }}">{{ entry.detail }}</a></h1>
		<ul class="post-meta">
			<li>{{ entry.user }}</li>
			<li>{{ entry.created_date }}</li>
			<li>{{ entry.entry_type }}</li>
			{% if request.user.is_staff %}
			<li><a class="btn btn-sm btn-danger" style="color: white;" href="{% url 'cash:cash-entry-revert' entry.slug %}">Revert</a></li>
			{% endif %}
		</ul>
	</div>
	</div>
</div>

   <img class="card-img-top"  style="max-width:50%;height:auto;" src="{{ post.image_url }}" alt={{ post.title }}>
   <p class="display-2">{{ entry.amount }}</p>
   <p class="display-2">{{ entry.balance }}</p>  
	

{% endblock %}
